@import '/src/styles/color.scss';
@import '/src/styles/mixin.scss';

.calc-block__content{
    margin-bottom: 71px;
    width: 335px;
    height: 600px;
    border-radius: 12px;
    z-index: 3;

    &_view{
        background-color: $white;
        box-shadow: 0px 20px 60px rgba(15, 35, 225, 0.6);
    }
}

.content-block{
    margin: 30px 25px;

    .invoice-block{
        border-bottom: 1px solid $whiteBorder;
        margin-bottom: 25px;
    }
    .credit-program-block{
        border-bottom: 1px solid $whiteBorder;
        padding-bottom: 18px;
        margin-bottom: 25px;
    }

    .checkbox-block{
        display: flex;
        margin-bottom: 19px;

        &_check{
            accent-color: $blue;
            width: 16px;
            height: 16px;
        }
        
        &__text{
            margin-left: 10px;
            font-size: 14px;
            line-height: 18px;
            color: $contentText;
        }
        
        &__link{
            margin-right: 5px;
            border-bottom: 1px solid $blue;
            color: $blue;
        }
    }
}

// common text

.content-text{
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 180%;
    @extend %content-text;
    opacity: 0.5;
}

.content-title{
    margin-bottom: 30px;
    font-size: 31px;
    line-height: 27px;
    @extend %content-text;
}

.content-subtitle{
    line-height: 27px;
    @extend %content-text;
    margin-bottom: 15px;
    font-size: 18px;
}

.copy-text{
    color: $copyText;
    margin-bottom: 22px;
    font-size: 11px;
    line-height: 130%;
}



// pseudo-blocks

.pseudo-block{
    margin: -60px auto;
    border-radius: 10px;

    &_first{
        background: rgba(255, 255, 255, 0.7);
        width: 320px;
        height: 75px;
        z-index: 2;
    }
    
    &_second{
        background: rgba(255, 255, 255, 0.25);
        width: 300px;
        height: 35px;
        margin-top: 38px;
        z-index: 1;
    }
}