@import '/src/styles/color.scss';

.modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

    &.active{
        transform: scale(1);
    }

    &__content{
        padding: 50px;
        border-radius: 10px;
        background-color: $white;
    }

    &__text{
        line-height: 26px;
        font-size: 18px;
    }
  }
