$fonts: 'Roboto', sans-serif;
$theme-island: #05145A;
$itemBg: #081456;
$blue: #0F23E1;
$contentText: #26262C;
$copyText: #71717A;
$itemNumColor: #FAFAFB;
$white: #ffffff;
$whiteBorder: #F1F3F6;
$black: #000;