@import '/src/styles/color.scss';


.title{
    align-items: center;
    text-align: center;

    &__text{
        font-size: 26px;
        line-height: 40px;
        padding-top: 45px;
        margin-bottom: 45px;
    }

    &_view{
        color: $white;
    }
}
